* {
	font-family: Cabin, sans-serif;
}

/* Bootstrap overrides */
.navbar-default {
	background-color: #333;
    border: 0;
    border-radius: 0;
    text-transform: uppercase;
    box-shadow: 0px 3px 3px #aaa;
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #333;
    background-color: #fff;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #333;
    background-color: #fff;
}

/* Mailchimp overrides */
#mc_embed_signup .mc-field-group label {
    font-size: 1.2em;
}

#mc_embed_signup .button {
    background-color: #333;
}