* {
	font-family: Cabin, sans-serif;
}

body {
    background-color: #fff;
}

.main-container {
    margin-bottom: 30px;
}

#quote {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2em;
}

#bio {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.3em;
}

#closer {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.6em;
}

#pic {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.2em;
}

#monster {
    float: right;
    margin-right: 10px;
  }

#band {
    float: right;
    margin-right: 10px;
}



/* Bootstrap overrides */
.navbar-default {
	background-color: #000;
    border: 0;
    border-radius: 0;
    text-transform: uppercase;
    box-shadow: 0px 3px 3px #aaa;
}

.navbar-default .navbar-nav>li>a {
    margin-top: 50px;
    color: #fff;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    background-color: #fff;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    background-color: #fff;
}

.navbar-brand {
    height: 100px;
    padding: 0px 15px;
}

.nav-image {
    margin-top: 25px;
    max-height: 50px;
}

@media (min-width: 990px) {
    .nav-image {
        margin-top: 0px;
        max-height: 100px;
    }
}

/* Mailchimp overrides */
#mc_embed_signup .mc-field-group label {
    font-size: 1.2em;
}

#mc_embed_signup .button {
    background-color: #333;
}

.mini-logos {
    margin: 0 25px 20px 0;
}

.bigFont li{
    font-size:1.5em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}